<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>..\..\..\artifacts\iis\api\</PublishDir>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
  </PropertyGroup>
</Project>
